h1 {
  border-style: dashed;
  border-style: dotted;
  border-style: groove;
  border-width:10px ;
  border-color: antiquewhite;
  border: 10px solid rebeccapurple;
  border-radius: 15px;
  border-left: 5px solid red;
}