*{
  margin: 0;
  padding: 0;
}
/*html,body{
  height: 100%;
}*/
.parent {
  background: #574b98;
  color:#fff;
  width:96%;
  padding: 2%;
  margin: 20px auto;
  /*max-width: 1140px;
  min-width: 500px;*/
  height: 100%;
  /*max-height: 300px;*/
  
}
