header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;
    
}
nav a{
    color: #fff;
}
.header a{
    color: #fff;
}
#main_menu ul li a{
    color: #fff;
}
.hero{
    background-image: url(../images/big-14.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* z-index: -1; */

        
}
.hero::after{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    content:'';
    background-color: rgba(0, 0, 0, 0.465);
    width: 100%;
    height: 100%;
    z-index: 1;
    
}

.hero-area{
    padding-top: 200px;
    height: 100vh;
    align-items: center;
    width: 70%;
    margin: auto;
    color:#fff;
      
}

.child{
    position: absolute;
    z-index: 5;
}

.child h1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 150px;
    font-weight: 800;
    letter-spacing: 20px;
    
}
.child a{
    z-index: 9999;
}
.card-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #212121;
    font-size: .875rem;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.middle-area{
    background-image: url(../images/big-15.jpg);
    background-size: cover;
    padding: 100px 20px;
    text-align: center;
    position: relative;
    z-index: 9;
    background-attachment: fixed;

}
.middle-area h2{
    color: #fff;
    font-size: 35px;
    margin-bottom: 0;

}
.middle-area h4{
    color: #fff;
    font-size: 15px;
    margin-bottom: 15px;
    
}
.middle-area .btn{
    background: #5645ff;
    border-color: #5645ff;
    color: #fff;
    
    
}
.middle-area .btn:hover{
    background-color: #007bff;
}
.bg{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity: 0.4;
    z-index: -1;
}
