<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MyWeb</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <img id="bbid"src="images/banner.jpg">
      <ul id="main_menu">
        <li > <a href="">Home</a></li>
         <li > <a href="">Service</a></li>
          <li > <a href="">Download</a></li>
          <li > <a href="">About</a></li>
      </ul>
    </header>   
   <section>
    <div>
      <h1> This is website</h1>
      <p>Voluptate laboris adipisicing irure nostrud in do et proident. Minim non excepteur dolore sunt occaecat sit quis aliquip tempor sunt cillum. Aute quis quis est proident sint. Occaecat irure aliquip officia amet laborum quis non et.</p>
    </div>
    <aside>
      <h1>This is reacent post</h1>
       <li > <a href="">Blog post</a></li>
         <li > <a href="">Blog post</a></li>
          <li > <a href="">Blog Post</a></li>
          <li > <a href="">Blog Post</a></li>
    </aside>
   </section>
   <footer>
    <p>All right Reserver</p>
   </footer>
   
    <script src="app.js" async defer>
     
    </script>
  </body>
</html>