*{
    padding: 0;
    margin: 0;
    
}
header{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    justify-content: center;
    align-items:center;
}
ul{
    list-style-type: none;
}
.navbar  ul li{
    /* width: 170px; */
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 11px;
   }
   a{
    text-decoration: none;
    color: black;
    
   }
   a:hover{
    color:white;
    background-color:#555;
    transition: all ease-in 0.5s;
   
   }
   .body{
    display: flex;
    justify-content: space-around;
   

         
   }
.container1,.container2,.container3,.container4{
    position: relative;
}
.container1 .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    background-color: red;
    color: #fff;
    border-radius: 1px;
    text-transform: uppercase;
  }
  .container2 .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    background-color: red;
    color: #fff;
    border-radius: 1px;
    text-transform: uppercase;
  }
  .container3 .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    background-color: red;
    color: #fff;
    border-radius: 1px;
    text-transform: uppercase;
  }
  .container4 .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    background-color: red;
    color: #fff;
    border-radius: 1px;
    text-transform: uppercase;
  }
   .body li{
    display: flex;
    list-style: none;
    
   
   }
   .body img{
    height: 350px;
    width: 350px;
   }
   .section2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   }
section{
    margin-bottom: 100px;
}
.name{
    text-transform: uppercase;
    
}
.name a{
    border: 1px solid palegoldenrod;
      
}
#hero_area{
    background-image: url(./images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    padding: 100px 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    z-index: 9;

}
#hero_area h2{
    color: #fff;
    font-size: 78px;
    margin-bottom: 0;

}
#hero_area p{
    color: #fff;
    font-size: 15px;
    margin-bottom: 15px;
    
}
#hero_area .btn{
    background: rgb(45, 201, 149);
    color:#fff;
    font-size: 14px;
    padding: 12px 30px;
    font-family: sans-serif;
    border-radius: 10px;
    display: inline-block;
    
}
#hero_area .btn:hover{
    background: rgb(35, 209, 128);

}
.bg{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity: 0.4;
    z-index: -1;
}