*{
    padding: 0;
    margin: 0;
    background-color: #fff;
    
}
header{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    justify-content: center;
    align-items:center;
}
ul{
    list-style-type: none;
}
.navbar  ul li{
    /* width: 170px; */
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 11px;
   }
   a{
    text-decoration: none;
    color: black;
    
   }
   a:hover{
    color:white;
    background-color:#555;
    transition: all ease-in 0.5s;
   
   }
   .body{
    display: flex;
    justify-content: space-around;
   

         
   }
.container1,.container2,.container3,.container4{
    position: relative;
}
.container1 .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    background-color: red;
    color: #fff;
    border-radius: 1px;
    text-transform: uppercase;
  }
  .container2 .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    background-color: red;
    color: #fff;
    border-radius: 1px;
    text-transform: uppercase;
  }
  .container3 .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    background-color: red;
    color: #fff;
    border-radius: 1px;
    text-transform: uppercase;
  }
  .container4 .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    background-color: red;
    color: #fff;
    border-radius: 1px;
    text-transform: uppercase;
  }
   .body li{
    display: flex;
    list-style: none;
    
   
   }
   .body img{
    height: 350px;
    width: 350px;
   }
   .section2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   }
section{
    margin-bottom: 100px;
}
.name{
    text-transform: uppercase;
    
}
.name a{
    border: 1px solid palegoldenrod;
      
}